footer.container-fluid {
  display: flex;
  align-items: center; /* vertically centers content */
  padding-top: 60px; /* keep your existing padding */
  padding-bottom: 60px;
}
.container{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100vw;
    }
}
footer {
  margin-bottom: 0 !important;
}

